<% layout("/layouts/boilerplate") %>

<% if (properties.length>0) { %>

<div class="main-width mt-4">
  <% if (allProperties) { %>
  <h2>Unforgettable Escapes: Find Your Perfect Retreat</h2>
  <p class="text-secondary">Experience unparalleled comfort and style with our diverse selection of accommodations, from elegant villas and chic apartments to serene resorts and charming cottages—each offering a unique escape tailored to your every need.</p>
  <% } %>

  <% if(!allProperties) { %>
  <% if (properties[0].property_type == "Villa") { %>
  <h2>Exquisite Villas: Your Private Sanctuary of Elegance</h2>
  <p class="text-secondary">Indulge in the perfect blend of opulence and serenity with our stunning villas, designed for the ultimate getaway experience.</p>
  <% } else if(properties[0].property_type == "Apartment"){ %>
  <h2>Stylish Apartments: Urban Living Redefined</h2>
  <p class="text-secondary">Discover modern comfort and convenience in our chic apartments, crafted for a vibrant and sophisticated lifestyle.</p>
  <% } else if(properties[0].property_type == "Resort") {%>
  <h2>Dreamy Resorts: Escape to Paradise</h2>
  <p class="text-secondary">Unwind in unparalleled luxury with our resorts, where every detail is designed for relaxation and unforgettable experiences.</p>
  <% } else if(properties[0].property_type == "Cottage") {%>
  <h2>Charming Cottages: Cozy Retreats in Nature</h2>
  <p class="text-secondary">Embrace rustic comfort and tranquility in our inviting cottages, perfect for a peaceful escape from the everyday hustle.</p>
  <% } %>
  <% } %>

  <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-column-xs-1">
    <% for( property of properties ) { %>
    <div class="trending-container mt-3">
      <a href="/listings/<%= property.id %>" class="text-decoration-none">
        <div>
          <div class="card">
            <div class="card-body">
              <img src="<%= property.image.url %>" class="card-img-top" alt="Villas">
              <div class="flex justify-content-between mb-sm-3 px-1">
                <div class="text-content mt-3">
                  <h5 class="card-title"><%= property.title %></h5>
                  <p class="card-text text-secondary m-1"><i class="fa-solid fa-location-dot me-2"></i><%= property.country %></p>
                  <p class="card-text text-secondary m-1"><small><i class="fa-regular fa-star me-2"></i><% if (property.reviews.length > 0) { %>
                      <% let avgRating;
                        let totalRating = 0;
                        property.reviews.forEach(review => {
                          totalRating += review.rating
                        }); 
                        avgRating = totalRating / property.reviews.length;
                      %>
                      <%= avgRating.toFixed(1) %>
                      <% } else { %>New
                      <% } %>
                      (<%= (property.reviews).length.toLocaleString("en-IN") %> Reviews)</small></p>
                  <h4 class="m-1 mb-0">₹ <%= property.price.toLocaleString("en-IN") %> <small class="fs-6 fw-normal">/night</small></h4>
                  <small class="m-0 ms-1 tax text-secondary">*includes taxes & fees</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% } %>

  </div>
</div>

<% }else{ %>
  <div class="flex flex-wrap mb-5">
    <img src="/assets/search_error.png" alt="Error" class="error-search">
    <h2>No Properties Found</h2>
    <p class="text-secondary text-center">Sorry, no properties were found that match your search criteria. Please try again.</p>
</div>
<% } %>