<% layout("/layouts/boilerplate") %>

<% const offeringList = [
"Kitchen facilities",
"Living room",
"Fridge",
"Balcony or patio",
"Heating",
"Air conditioning",
"High-speed internet",
"Cable TV",
"Washer and dryer",
"Closet space",
"Parking availability",
"Elevator access",
"Security system",
"Pet-friendly",
"Garden view",
"Lake view",
"Dining table",
"Mountain view",
"Ocean view",
"Proximity to public transportation",
"Gym or fitness center",
"Swimming pool",
"Nearby shopping and dining options",
"Quiet neighborhood",
"Smoke-free environment",
"Recycling facilities",
"Maintenance services",
"24-hour emergency contact"
]
%>

<body>
  <div class="row mt-3">
    <div class="col-md-8 col-11 m-auto">
      <h3>Edit listing</h3>
      <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input id="title" type="text" name="listing[title]" placeholder="Enter a catchy title" class="form-control" value="<%= listing.title %>" required />

          <div class="invalid-feedback">Title is required.</div>
        </div>


        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" name="listing[description]" class="form-control" required><%= listing.description %></textarea>

          <div class="invalid-feedback">Please provide a short description.</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Original Image</label><br>
          <img src="<%= originalImageUrl %>" alt="Location Old Image" id="edit_image">
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input id="image" type="file" name="listing[image]" class="form-control" />
        </div>

        <div class="mb-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="has_amenity" name="listing[has_amenity]" value="True">
            <label class="form-check-label" for="has_amenity" id="amenity_check_label">Check if the location provides amenities</label>
          </div>
        </div>

        <div class="mb-3" id="amenities_container">
          <div class="my-4 d-flex flex-wrap gap-3">
            <% offeringList.forEach(offer=> { %>
            <input type="checkbox" class="btn-check" id="<%= offer %>" name="listing[offerings]" value="<%= offer %>" autocomplete="off">
            <label class="btn btn-outline-dark" for="<%= offer %>"><%= offer %></label>
            <% }); %>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input id="price" name="listing[price]" class="form-control" placeholder="e.g. 1200" value="<%= listing.price %>" required />

            <div class="invalid-feedback">Price is required.</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input id="country" type="text" name="listing[country]" class="form-control" placeholder="e.g. India" value="<%= listing.country %>" required />

            <div class="invalid-feedback">Please enter a valid country.</div>
          </div>
        </div>

        <div class="mb-4">
          <label for="location" class="form-label">Location</label>
          <input id="location" type="text" name="listing[location]" class="form-control" placeholder="e.g. Noida, Uttar pradesh" value="<%= listing.location %>" required />

          <div class="invalid-feedback">Please enter a valid location.</div>
        </div>


        <button type="submit" class="btn btn-dark edit-btn mb-4 mt-3">Update</button>
      </form>
    </div>
  </div>
</body>


<script src="/js/showAmenity.js"></script>